.highlight-header {
  height: 60px;
  width: 100%;

  margin: 0px;
  padding: 0px;

  position: absolute;
  top: 0px;
  left: 0px;

  background-color: #EFEFEF;

  z-index: -1;
}

.header {
  padding-top: 10px;
  height: 60px;

  z-index: 1;

  margin-bottom: 10px;
}

.search-bar {
  padding-top: 10px;
  text-align: right;
}